@model IReadOnlyList<LightBlog.Server.ViewModels.PostViewModel>

<div class="side-box">
    <h2>Recent Posts</h2>

    <ol>
        @for (var i = 0; i < Model.Count; i++)
        {
            <li>
                <a asp-route="post"
                   asp-route-year="@Model[i].Year"
                   asp-route-month="@Model[i].Month"
                   asp-route-name="@Model[i].Name">
                    @Model[i].Title
                </a>
            </li>
        }
    </ol>
    
    <h2>Other Sites</h2>
    <ul>
        <li><a href="https://hn-trends.eliot-jones.com">HackerNews Trends</a></li>
        <li><a href="http://eliot-jones.com:6575">FAF Lobby Sim</a></li>
        <li><a href="https://eliot-jones.com/rss">RSS</a></li>
    </ul>
</div>