@using LightBlog.Server.Models
@inject IOptions<SiteOptions> Site

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Site.Value.Name</title>

    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <nav class="menu">
        <h1>
            <a asp-controller="Home"
               asp-action="index">@Site.Value.Name</a>
        </h1>
        <span class="subtitle">Thoughts of a developer</span>
    </nav>
    <div class="container">
        <main class="eight columns">
            @RenderBody()
        </main>
        @if (ViewData["include-aside"] == null)
        {
            <aside class="four columns">
                @await Component.InvokeAsync("SideBar")
            </aside>
        }
    </div>

    <script src="~/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
