html {
    background-color: #fafafe;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05px;
}

details {
    padding: 10px;
    background: aliceblue;
    border: 1px solid #C5EFF7;
    color: #666;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

summary {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    background-color: #0984e3;
    color: white;
    padding-left: 24px;
}

    .menu > h1 {
        font-size: 2.3em;
        height: 45px;
        margin: 0;
    }

    .menu > h2 {
        font-size: 0.9em;
        line-height: 16px;
        margin: 0;
        font-weight: normal;
    }

.date {
    background: url("../images/date.png") left no-repeat;
    padding-left: 20px;
    color: #AAA;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 24px;
}

.menu > h1 > a {
    color: white;
    text-decoration: none;
}

.side-box {
    background-color: #0984e3;
    margin: 24px auto;
    padding: 16px;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 64px;
}

    .side-box > ul > li > a:hover {
        text-decoration: underline;
    }

    .side-box > ol > li > a:hover {
        text-decoration: underline;
    }

    .side-box > ul {
        list-style-type: disc;
    }

        .side-box > ul > li {
            margin-bottom: 0.5rem;
        }

            .side-box > ul > li > a {
                color: white;
                text-decoration: none;
                font-weight: bold;
            }

    .side-box > ol {
        margin-bottom: 32px;
    }

        .side-box > ol > li {
            font-family: 'Rubik', sans-serif;
            margin-left: 5px;
        }

            .side-box > ol > li > a {
                color: white;
                text-decoration: none;
            }

    .side-box > h1, .side-box > h2 {
        text-align: center;
        font-size: 1.6em;
        margin: 0;
        margin-bottom: 16px;
    }

main {
    margin-top: 64px;
    padding-bottom: 64px;
}

.post {
    margin-bottom: 64px;
}

    .post > h2 {
        margin-bottom: 0px;
        line-height: 3.5rem;
    }

        .post > h2 > a {
            text-decoration: none;
        }

.post-body {
    padding: 0;
    padding-right: 32px;
}

    .post-body p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

.more {
    width: 100%;
    background-color: white;
    height: 32px;
    margin-top: 25px;
    border-radius: 0;
    color: #bdc3c7;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    display: block;
    text-decoration: none;
    line-height: 21px;
}

    .more:hover {
        background-color: #ddd;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
    }
